# OS files
.DS_Store
Thumbs.db

# Editors
*.swp
*.swo
*~
.vscode/
.idea/

# Dependencies
node_modules/
vendor/

# Build artifacts
dist/
build/
out/
_book/
site/

# npm cache artifacts
_cacache/
_npx/
_logs/
_update-notifier-last-checked

# Environment
.env
.env.local
